/* --- SASS --- */

$cd-bars: #15dea5;
$cd-bars-inv: #0e397f;
$size: 3vh;
$duration: 1s;
$num-bars: 5;
$delay: $duration / $num-bars;

/* --- KEYFRAMES --- */

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(1);
  }
}

/* ---STYLE --- */

.loader {
  position: absolute;
  height: 2000px;
  width: 100vw;
  background-color: white;
  z-index: var(--z-loader);

  & .container {
    position: relative;
    margin-top: 100px;
  }

  & .load {
    width: $size * 10;
    height: $size * 7.5;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    &__bar {
      background-color: #15dea5;
      height: 100%;
      width: $size;
      //animation-name duration animation-fill-mode animation-iteration-count animation-timing-function animation-direction
      animation: bars $duration backwards infinite ease-in-out alternate;
      animation-direction: alternate;

      @for $i from 1 through $num-bars {
        &--#{$i} {
          animation-delay: $delay * $i;
        }

        &--#{$i}-inv {
          animation-delay: $delay * $i + random(100) * 15ms;
          animation-direction: alternate-reverse;
          background-color: $cd-bars-inv;

          &:hover {
            animation-play-state: paused;
          }
        }
      }
    }
  }
}

.loaderInfo {
  position: fixed;
  padding: 15px;
  top: 450px;
  left: 30%;
  color: rgb(24, 24, 24);
  margin: 50px;
}

.hide {
  top: -100vh;
}
