@import "style_loader.scss";

$header-height: 50px;

*,
::before,
::after {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
}

/*--- STYLE NAV --- */

header {
  width: 100%;
  height: $header-height;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  border: 1px dashed green;

  & img {
    display: block;
    width: 70px;
    padding: 15px 0;
    margin: 0 0 0 10px;
  }

  &__menu {
    position: absolute;
    top: 100px;
    font-size: 25px;
    line-height: 48px;
    text-align: center;
  }

  &__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $header-height;
    height: $header-height;
    cursor: pointer;

    &__slice {
      height: $header-height/10;
      width: $header-height - 16px;
      background-color: white;
      border-radius: 2px;
      transition: all 350ms;
    }
    &__slice::before,
    &__slice::after {
      content: "";
      position: absolute;
      height: $header-height/10;
      width: $header-height - 16px;
      background-color: white;
      border-radius: 2px;
      transition: all 350ms;
    }
    &__slice::after {
      transform: translateY(-220%);
    }

    &__slice::before {
      transform: translateY(220%);
    }
  }
}
.open .nav__hamburger__slice {
  background: transparent;
  transform: translateX(-$header-height);
  transition: all 350ms;
}
.open .nav__hamburger__slice::before {
  transform: rotate(-45deg) translate($header-height/1.5, $header-height/1.5);
}
.open .nav__hamburger__slice::after {
  transform: rotate(45deg) translate($header-height/1.5, -$header-height/1.5);
}
