/* --- SASS --- */

$cd-bars: #4b15de;
$cd-bars-inv: #0e727f;
$size: 5vw;
$duration: 1s;
$num-bars: 20;
$delay: $duration / $num-bars;

/* --- KEYFRAMES --- */

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(1);
  }
}

/* ---STYLE --- */

.loader {
  position: absolute;
  height: 2000px;
  width: 100vw;
  background-color: white;
  z-index: var(--z-loader);

  &__container {
    position: relative;
    margin-top: 100px;
    width: 80%;
  }

  & .load {
    width: $size * 7;
    height: $size * 5;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    &__bar {
      background-color: #15dea5;
      height: 100%;
      width: $size * 0.1;
      //animation-name duration animation-fill-mode animation-iteration-count animation-timing-function animation-direction
      animation: bars $duration backwards infinite ease-in-out alternate;
      animation-direction: alternate;

      @for $i from 1 through $num-bars {
        &--#{$i} {
          animation-delay: $delay * $i;
        }

        &--#{$i}-inv {
          animation-delay: $delay * $i;
          animation-direction: alternate-reverse;
          background-color: $cd-bars-inv;

          &:hover {
            animation-play-state: paused;
          }
        }
      }
    }
  }
}

.hide {
  top: -2000px;
}
