/* --- SASS --- */
/* --- KEYFRAMES --- */
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
/* ---STYLE --- */
.loader {
  position: absolute;
  height: 2000px;
  width: 100vw;
  background-color: white;
  z-index: var(--z-loader);
}
.loader__container {
  position: relative;
  margin-top: 100px;
  width: 80%;
}
.loader .load {
  width: 35vw;
  height: 25vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.loader .load__bar {
  background-color: #15dea5;
  height: 100%;
  width: 0.5vw;
  animation: bars 1s backwards infinite ease-in-out alternate;
  animation-direction: alternate;
}
.loader .load__bar--1 {
  animation-delay: 0.05s;
}
.loader .load__bar--1-inv {
  animation-delay: 0.05s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--1-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--2 {
  animation-delay: 0.1s;
}
.loader .load__bar--2-inv {
  animation-delay: 0.1s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--2-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--3 {
  animation-delay: 0.15s;
}
.loader .load__bar--3-inv {
  animation-delay: 0.15s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--3-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--4 {
  animation-delay: 0.2s;
}
.loader .load__bar--4-inv {
  animation-delay: 0.2s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--4-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--5 {
  animation-delay: 0.25s;
}
.loader .load__bar--5-inv {
  animation-delay: 0.25s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--5-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--6 {
  animation-delay: 0.3s;
}
.loader .load__bar--6-inv {
  animation-delay: 0.3s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--6-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--7 {
  animation-delay: 0.35s;
}
.loader .load__bar--7-inv {
  animation-delay: 0.35s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--7-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--8 {
  animation-delay: 0.4s;
}
.loader .load__bar--8-inv {
  animation-delay: 0.4s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--8-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--9 {
  animation-delay: 0.45s;
}
.loader .load__bar--9-inv {
  animation-delay: 0.45s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--9-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--10 {
  animation-delay: 0.5s;
}
.loader .load__bar--10-inv {
  animation-delay: 0.5s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--10-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--11 {
  animation-delay: 0.55s;
}
.loader .load__bar--11-inv {
  animation-delay: 0.55s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--11-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--12 {
  animation-delay: 0.6s;
}
.loader .load__bar--12-inv {
  animation-delay: 0.6s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--12-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--13 {
  animation-delay: 0.65s;
}
.loader .load__bar--13-inv {
  animation-delay: 0.65s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--13-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--14 {
  animation-delay: 0.7s;
}
.loader .load__bar--14-inv {
  animation-delay: 0.7s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--14-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--15 {
  animation-delay: 0.75s;
}
.loader .load__bar--15-inv {
  animation-delay: 0.75s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--15-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--16 {
  animation-delay: 0.8s;
}
.loader .load__bar--16-inv {
  animation-delay: 0.8s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--16-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--17 {
  animation-delay: 0.85s;
}
.loader .load__bar--17-inv {
  animation-delay: 0.85s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--17-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--18 {
  animation-delay: 0.9s;
}
.loader .load__bar--18-inv {
  animation-delay: 0.9s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--18-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--19 {
  animation-delay: 0.95s;
}
.loader .load__bar--19-inv {
  animation-delay: 0.95s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--19-inv:hover {
  animation-play-state: paused;
}
.loader .load__bar--20 {
  animation-delay: 1s;
}
.loader .load__bar--20-inv {
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  background-color: #0e727f;
}
.loader .load__bar--20-inv:hover {
  animation-play-state: paused;
}

.hide {
  top: -2000px;
}

*,
::before,
::after {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
}

/*--- STYLE NAV --- */
header {
  width: 100%;
  height: 50px;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border: 1px dashed green;
}
.nav img {
  display: block;
  width: 70px;
  padding: 15px 0;
  margin: 0 0 0 10px;
}
.nav__menu {
  position: absolute;
  top: 100px;
  font-size: 25px;
  line-height: 48px;
  text-align: center;
}
.nav__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.nav__hamburger__slice {
  height: 5px;
  width: 34px;
  background-color: white;
  border-radius: 2px;
  transition: all 350ms;
}
.nav__hamburger__slice::before, .nav__hamburger__slice::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 34px;
  background-color: white;
  border-radius: 2px;
  transition: all 350ms;
}
.nav__hamburger__slice::after {
  transform: translateY(-220%);
}
.nav__hamburger__slice::before {
  transform: translateY(220%);
}

.open .nav__hamburger__slice {
  background: transparent;
  transform: translateX(-50px);
  transition: all 350ms;
}

.open .nav__hamburger__slice::before {
  transform: rotate(-45deg) translate(33.3333333333px, 33.3333333333px);
}

.open .nav__hamburger__slice::after {
  transform: rotate(45deg) translate(33.3333333333px, -33.3333333333px);
}